@page
@model CultureU.Pages.Materias.IndexModel

@{
    ViewData["Title"] = "Materias";
}

<h1>Materias</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materias[0].MateriaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materias[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materias[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materias[0].Escuela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Materias) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escuela.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MateriaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MateriaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MateriaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
